apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: symposium
  labels:
    app: symposium
    commit: ${WERCKER_GIT_COMMIT}
  namespace: symposium
spec:
  replicas: 1
  selector:
    matchLabels:
      app: symposium
      commit: ${WERCKER_GIT_COMMIT}
  template:
    metadata:
      labels:
        app: symposium
        commit: ${WERCKER_GIT_COMMIT}
        color: green
    spec:
      containers:
      - name: symposium
        image: ${DOCKER_REPO}:${WERCKER_GIT_BRANCH}-${WERCKER_GIT_COMMIT}
        imagePullPolicy: Always
        ports:
        - name: symposium-port
          containerPort: 80
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: symposium-service
  labels:
    app: symposium
    commit: ${WERCKER_GIT_COMMIT}
  namespace: symposium
spec:
  ports:
  - port: 32299
    targetPort: 80
    nodePort: 32700
  selector:
    app: symposium
    color: green
  type: NodePort
---